body {
font-family: Arial, sans-serif;
background: #f2f2f2;
}


.app {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.card {
background: white;
padding: 25px;
border-radius: 10px;
width: 300px;
text-align: center;
}


button {
margin-top: 15px;
padding: 10px;
width: 100%;
border: none;
background: #4caf50;
color: white;
cursor: pointer;
}


select, input {
width: 100%;
margin: 10px 0;
}